p {
    font-size: 1.5rem;
}
ul {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

ul li {
    display: inline-table;
    width: 25%;
    margin: 3%;
    border: 1px solid gold;
    position: relative;
}

ul li img {
    width: 100%;
}

h4 {
    text-align: center;
    display: block;
    height: 40px;
    overflow: hidden;
    margin-top: 10%;
}



