#list {
    /* display: inline-block; */
    /* width: 23%; */
    margin: 1%;
}

#leagues {
    /* margin-left: 60px; */
    /* text-align: right; */
    /* width: 10%;  */
    /* float: right; */
    width: 70%;
    display: table;
}

aside {
    /* display: block; */
    height: 100%;
    width: 25%;
    float: left;
}

h3 {
    font-size: 2vw;
    text-align: center;
}

img {
    width: 70%;
}