<div *ngIf="router.url === '/'">
   <header class="home">
      <nav class="home">
         <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
         </div>
         <div class="logo">
            Sport que te cagas
         </div>
         <div class="menu">
            <ul>
               <li><a routerLink="">Home</a></li>
               <li><a routerLink="/sports">Sports</a></li>
               <li><a href="#">About</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Contact</a></li>
            </ul>
         </div>
      </nav>
   </header>
</div>


<div *ngIf="router.url !== '/'">
   <header class="insite">
      <nav class="insite">
         <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
         </div>
         <div class="logo">
            Sport que te cagas
         </div>
         <div class="menu">
            <ul class="block-menu">
               <li><a class="three-d" routerLink="">Home
                     <span aria-hidden="true" class="three-d-box">
                        <span class="front">Home</span>
                        <span class="back">Home</span>
                     </span>
                  </a></li>
               <li><a class="three-d" routerLink="/sports">Sports
                  <span aria-hidden="true" class="three-d-box">
                        <span class="front">Sports</span>
                        <span class="back">Sports</span>
                     </span></a></li>
               <li><a class="three-d" href="#">About
                     <span aria-hidden="true" class="three-d-box">
                           <span class="front">About</span>
                           <span class="back">About</span>
                        </span>
               </a></li>
               <li><a class="three-d" href="#">Contact
                     <span aria-hidden="true" class="three-d-box">
                           <span class="front">Contact</span>
                           <span class="back">Contact</span>
                        </span>
               </a></li>
               <li><a class="three-d" href="#">Contact
                     <span aria-hidden="true" class="three-d-box">
                           <span class="front">Contact</span>
                           <span class="back">Contact</span>
                        </span>
               </a></li>
            </ul>
         </div>
      </nav>
   </header>
</div>